
@import 'defs';

@import "node_modules/shevy/core/shevy";

@include headings;
@include body;
@include content;





//scale: 1.2
$responsive-phone: (
  base-font-size: 1rem,
  base-font-scale: (
    2.074,
    1.728,
    1.4,
    1.2,
    1,
    1
  ),
  proximity: true,
  base-line-height: 1.6
);

//scale 1.414
$responsive-tablet: (
  base-font-size: 1.2rem,
  base-font-scale: (
    3.998,
    2.827,
    1.999,
    1.414,
    1,
    1
  ),
  proximity: true,
  base-line-height: 1.6
);


//scale 1.5
$responsive-desktop: (
  base-font-size: 1.3rem,
  base-font-scale: (
    5.063,
    3.375,
    2.25,
    1.5,
    1,
    1
  ),
  proximity: true,
  base-line-height: 1.6
);

@include headings($responsive-phone);
@include body($responsive-phone);
@include content($responsive-phone);

@include for-tablet-up {
  @include headings($responsive-tablet);
  @include body($responsive-tablet);
  @include content($responsive-tablet);
}

@include for-desktop-up {
  @include headings($responsive-desktop);
  @include body($responsive-desktop);
  @include content($responsive-desktop);
}


