button,
select,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
select {
  display: block;
}

input,
textarea,
select {
  color: var(--text-bright);
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: 1px solid var(--border-muted);
  border-radius: 6px;
}

option,
optgroup {
  color: var(--text-bright);
  background-color: var(--background);
}

input[type="color"] {
  min-height: 2rem;
  padding: 8px;
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  accent-color: var(--links);
}

input[type="checkbox"],
input[type="radio"] {
  height: 1.2em;
  width: 1em;
}

input[type="radio"] {
  border-radius: 100%;
}

input {
  vertical-align: top;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

input:not([type="checkbox"]):not([type="radio"]),
input[type="range"],
select,
button,
textarea {
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  display: block;
  margin-right: 0;
  resize: vertical;
  width: 100%;
}

textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}

select:not([multiple]) {
  background-image:
    linear-gradient(45deg, transparent 50%, var(--text-muted) 50%),
    linear-gradient(135deg, var(--text-muted) 50%, transparent 50%);
  background-position:
    calc(100% - 16px) 50%,
    calc(100% - 11px) 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px;
  padding-right: 35px;
}

select[multiple] {
  padding-right: 10px;
  background-image: none;
  overflow-y: auto;
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--focus);
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--focus);
  outline-offset: 1px;
  box-shadow: 0 0 0 3px var(--focus-background);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::placeholder {
  color: var(--form-placeholder);
}

fieldset {
  border: 1px var(--border) solid;
  border-radius: 6px;
  margin: 0 0 12px;
  padding: 10px 20px;
}

legend {
  font-size: 0.9em;
  font-weight: 600;
}
