@media print {
  body {
    max-width: none;
    margin: 0;
  }

  body > nav:first-of-type,
  body > header:first-child > nav {
    display: none;
  }

  body,
  pre,
  code,
  summary,
  details,
  button,
  input,
  select,
  textarea {
    background-color: #fff;
  }

  button,
  input,
  select,
  textarea {
    border: 1px solid #000;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  button,
  input,
  select,
  textarea,
  footer,
  summary,
  strong {
    color: #000;
  }

  summary::marker,
  summary::-webkit-details-marker {
    color: #000;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: #00f;
    text-decoration: underline;
  }
}
